@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#495670] border-[3px] rounded-xl;
}

.card-animation-enter {
  opacity: 0;
  transform: translateY(-5%);
}

.card-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}

.card-animation-exit {
  opacity: 1;
  transform: translateY(0);
}

.card-animation-exit-active {
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 200ms, transform 200ms;
}

.gradient-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: linear-gradient(0deg, rgba(34, 40, 49, 1) 3%, rgba(255, 255, 255, 0) 25%);
}

.swiper-button-next,
.swiper-button-prev {
  @apply !top-56 !text-teal px-14;
}
